body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente los elementos del body */
}

h1 {
    text-align: center; /* Centrar el título */
}

table {
    border-collapse: collapse;
    width: 80%; /* Ancho de la tabla */
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

#addProductForm {
    width: 80%; /* Ancho del formulario */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */
}

#addProductForm div {
    display: flex;
    gap: 10px;
    align-items: center;
}

#addProductForm label {
    width: 150px;
    text-align: right;
}

#addProductForm input[type="text"],
#addProductForm input[type="number"],
#addProductForm select {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#addProductBtn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addProductBtn:hover {
    background-color: #1e7e34;
}
